

.StepperViewControl {   
        margin: auto;
        margin-top:100px;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
        
        display: flex;
        align-items: center;
        justify-content: center;
    
}
.counterTextBox{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

.CounterBtn {
    background-color: #4CAF50;
    color:white;
    text-align: center;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
    border-radius: 12px 0 0 12px;
}
#IncrementButton {
    border-radius: 0 12px 12px 0 ;
}